// .popup_tabs h2 {
//   font-weight: 900;
//   text-transform: uppercase;
//   color: purple;
// }
.components-tab-panel {
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  transition: box-shadow .1s linear;
}
.components-tab-panel__tabs {
  position: relative;
}
.components-tab-panel__border {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  z-index: 0;
}
// .components-button {
//   font-weight: 400;
//   font-size: 13px;
//   line-height: normal;
// }
.popup_trigger_condition {
  position: relative;
  display: flex;
  align-items: stretch;
  margin: .5rem 0;
  gap: 0.25rem;

  &:hover {
    .popup_condition_remove {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.popup_condition_wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 0.25rem;
}
.popup_condition_button {
  height: 40px;

  &.and_button {
    padding-left: 21px;
    padding-right: 21px;
  }
}
// .popup_condition_button,
// .popup_trigger_condition input,
// .popup_trigger_condition .input_group,
// .popup_trigger_condition p {
//   font-size: 13px;
//   display: flex;
//   align-items: center;
//   width: 100%;
//   padding-left: 12px;
//   padding-right: 12px;
//   border: 1px solid #949494;
//   border-radius: 2px;
//   box-shadow: 0 0 0 #000 0;
//   margin: 0;
//   width: 100%;

//   &.hidden {
//     display: none;
//   }
// }
// .popup_trigger_condition .input_group.has_suffix {
//   position: relative;
// }
// .popup_trigger_condition .input_group.no_suffix .input_suffix {
//   display: none;
// }
// .popup_trigger_condition .input_group input {
//   padding-left: 0;
//   border: 0px;
// }
// .popup_trigger_condition .input_group.has_suffix .input_suffix {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   background-color: #dbdbdb;
//   display: flex;
//   align-items: center;
//   padding: 0 10px;
//   border-radius: 0 1px 1px 0;
//   border: 0;
//   border-left: 1px solid #94949460;
// }
// .popup_trigger_group {
//   display: flex;
//   align-items: center;
//   width: calc(100% / 3);

//   & select,
//   & input,
//   & p {
//     width: 100%;
//   }
// }
// .popup_condition_button {
//   width: 10%;
//   height: auto;
//   justify-content: center;
//   cursor: pointer;
//   // height: 32px;
//   min-width: 32px;
//   padding: 4px;
//   background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
//   color: var(--wp-components-color-accent-inverted, #fff);
//   outline: 1px solid #0000;
//   text-decoration: none;
//   text-shadow: none;
//   white-space: nowrap;
//   border: 0;

//   &:hover {
//     color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
//     background-color: white;
//     border: 1px solid;
//   }

//   &.or-button {
//     width: fit-content;
//     padding: 6px 12px;
//   }
// }

.popup_condition_remove {
  position: absolute;
  top: 20px;
  right: calc(-12.5px);
  width: 25px;
  height: 25px;
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  border: 1px solid;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transform: translateY(-50%);
  transform-origin: center;
  display: none;

  &::after {
    content: "-";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }

  &:hover {
    color: #cc1818;
    background-color: #ffe4e9;
  }
}

// TEMPORARY OPTIONS STYLES
.temp-options {
  margin: 12px 0;
}

// WP GUTENBERG COMPONENTS

// *** SELECT INPUT
.components-input-control__container {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  // flex: 1 1 0%;
  position: relative;
  background-color: var(--wp-components-color-background, #fff);
  width: 100%;

  &:focus,
  &:focus-within {
    .components-input-control__backdrop {
      border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
      box-shadow: 0 0 0 0.5px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
      outline: transparent solid 2px;
      outline-offset: -2px;
    }
  }
}

.components-input-control__input {
  background-color: transparent;
  box-sizing: border-box;
  border: none!important;
  color: var(--wp-components-color-foreground, #1e1e1e);
  display: block;
  font-family: inherit;
  margin: 0px;
  outline: none;
  width: 100%;
  font-size: 13px;
  height: 40px;
  line-height: 1;
  min-height: 40px;
  padding-left: 12px!important;
  padding-right: 12px;
  padding-inline-end: calc(4px);
  box-shadow: none !important;
}

.components-select-control__input {
  appearance: none;
  background: transparent;
  box-sizing: border-box;
  border: none;
  color: currentcolor;
  cursor: inherit;
  display: block;
  font-family: inherit;
  margin: 0px;
  width: 100%;
  max-width: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  height: 40px;
  min-height: 40px;
  padding: 0px 30px 0px 12px;
  overflow: visible;
  box-shadow: none !important;
  line-height: 2;
  border-radius: 3px;
  vertical-align: middle;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

.components-input-control-suffix-wrapper {
  padding-inline-end: 12px;
  position: absolute;
  pointer-events: none;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);

  & > div {
    margin-inline-end: calc(-4px);
    line-height: 0;
  }

  svg {
    width: 18px;
    height: 18px;

    path {
      fill: currentcolor;
    }
  }
}

.components-input-control__suffix {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
}

.components-unit-control__unit-label {
  color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  pointer-events: none;
  box-sizing: border-box;
  min-width: min-content;
  height: 24px;
  margin-inline-end: calc(8px);
  padding: calc(4px);
  padding-top: 5px;
  font-size: 13px;
  line-height: 1;
  text-align-last: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  field-sizing: content;
}

.components-input-control__backdrop {
  box-sizing: border-box;
  border-color: var(--wp-components-color-gray-600, #949494);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  inset: 0px;
  margin: 0px;
  padding: 0px 0px 0px 2px;
  pointer-events: none;
  position: absolute;
}
